    <h1 class="page-header">Bienvenido {{vm.currentOwner.firstName}} {{vm.currentOwner.lastName}}</h1>

 <div class="row">
    <div class="col-sm-12">
          <div class="col-sm-6">
              <p>Email: <strong>{{vm.currentOwner.email}}</strong></p>
              <p>Teléfono: <strong>{{vm.currentOwner.telephone}}</strong></p>
          </div>
          <div class="col-sm-6">
              <p>Ciudad: <strong>{{vm.currentOwner.city}}</strong></p>
              <p>Dirección: <strong>{{vm.currentOwner.address}}</strong></p>
          </div>
    </div>
 </div>